[user]
  name    = enomoto
  email   = knt527@gmail.com
[alias]
  ad      = add
  co      = checkout
  d       = diff
  g       = grep --line-number --heading --break --show-function
  l       = ls-files
  s       = status
[core]
  editor  = vim -c \"set fenc=utf-8\"
